.a0{
    color:black;
}
.a1{
    color: black;
}
.a2{
    color: black;
}
.a3{
    color:black;
}
.c1{
    text-align: center;
    background-color: lightblue;
    width: 25%;

}
.d1{
    width: 15%;
}
.d2{
    width: 200px;
}

body {
    font-family: 'Open Sans', serif;
    font-size: 14px;
}

input {
    padding: 10px;
}